body {
  background: url(https://static.pexels.com/photos/268351/pexels-photo-268351.jpeg);
  background-size: cover;
  background-position: center;
}

h3 {
  text-align: center;
}

p {
  font-size: 36px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.navbar ul {
  float: right;
}

#signup-page {
  width: 60%;
  margin: 10% auto;
}

#signup-header {
  text-align: center;
  color: #D4DE00;
  text-shadow: 2px 2px 3px black;
}

#signup-page input {
  width: 50%;
  display: block;
  margin: 20px auto;
  text-align: center;
  color: #808080;
}

#signup-page p {
  font-size: 16px;
  text-align: center;
}

#signup-form {
  width: 60%;
  margin: 10% auto;
  background: url(/img/LoginChalkboard.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  color: #FFF;
  padding: 50px;
}

#signup-form input {
  color: #323232;
}

#signup-form a {
  color: rgb(212, 222, 0);
}

#signup-btn {
  width: 100px;
  height: 30px;
  display: block;
  margin: 20px auto;
  color: #323232;
}

#error-message {
  height: 50px;
  color: #FFF;
}


@media screen and (max-width: 768px) {
#signup-page {
  width: 100%;
  margin-top: 50px;
  padding: 20px;
}

#signup-form {
  width: 100%;
  padding: 20px 30px;
  margin-top: 50px;
}

}