body, html {
  height:100%;
}

/**********************  Workspace  ********************************/


body {
  padding-top: 50px;
}

h1, h2, h3, h4 {
  text-align: center;
}

.no-display {
  display: none;
}

.invisible {
  visibility: hidden;
}

.active-subject {
  background: #337ab7;
  border-color: #2e6da4;
  border-radius: 3px;
  color: #FFF;
}

.navbar ul {
  float: right;
}

#add-subject {
  margin: 10px auto;
}

#subject-input {
  margin: 10px auto;
}

.subject-submit {
  margin: 10px auto;
}

#studyspace-heading {
	font-size: 36px;
	text-align: center;
}

.study-header {
	height: 50px;
	padding-top: 15px;
	text-align: center;
	background: #808080;
  color: #FFF;
}

.note-card {
  border: 2px solid black;
  background: #808080;
  display: inline-block;
}

.note-display {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  min-height: 200px;
  border: 2px solid black;
  padding: 10px;
}

.video-display {
  width: 100%;
  height: auto;
  text-align: center;
  margin: 0 auto;
  min-height: 200px;
  border: 2px solid black;
  padding: 10px;
}

.new-note-button, .new-video-button {
  margin-top: 20px;
}

.row-offcanvas {
  height:100%;
}

#sidebar {
  width: inherit;
  min-width: 220px;
  max-width: 220px;
  background-color: #F5F5F5;
  float: left;
  height: 100%;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}

.subjects-display {
  padding-left: 10px;
  margin-bottom: 20px;
}

.sidebar-subject {
  padding: 10px;
}

.delete-subject {
  padding: 3px;
  float: right;
  margin: 0 auto; 
  background-color: #FFF;
  border-radius: 3px;
  color: #337ab7;
}

.delete-subject:hover {
  background-color: #990000;
}

#main {
  height: 100%;
  overflow: auto;
}

textarea {
  width: 100%;
}



@media only screen and (max-width: 768px) {

  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    width: calc(100% + 220px);
  }

  .row-offcanvas-left
  {
    left: -220px;
  }

  .row-offcanvas-left.active {
    left: 0;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
  }

  .visible-xs {
    position: absolute;
    left: 0;
  }

  .note-display {
    padding: 20px;
    margin-top: 10px;
  } 

  .video-display {
    margin-top: 10px;
  }

  .video-display h4 {
    padding: 10px;
  }

}
