

/**********************  Landing Page  ********************************/

h3 {
  text-align: center;
}

p {
  font-size: 36px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

#start-btn {
  margin-top: 50px;
}

.navbar ul {
  float: right;
}

.home-block li {
  padding: 10px;
}

.home-top {
  margin-top: 50px;
  width: 100%;
  height: 600px;
  text-align: center;
  background: url(https://images.unsplash.com/photo-1510070112810-d4e9a46d9e91?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=b43b054bc603a0844da6770a99928bef);
  background-size: cover;
  background-position: center;
  text-shadow: 2px 2px 3px black;
}


.home-top h1 {
  color: #FFF;
  font-size: 96px;
  padding-top: 8%;
}

.home-top h2 {
  color: #FFF;
  font-size: 72px;
  padding: 0 20px;
}

.home-color {
  background-color: #808080;
  color: #FFF;
}

.home-block {
  padding: 20px;
  display: block;
}

.home-block ul {
  list-style: none;
  text-align: center;
  font-size: 32px;
  padding: 20px;
}

.home-block img {
  height: 400px;
  padding: 20px;
  width: 100%;
}

#start-btn {
  display: block;
  margin: 20px auto;
}

.footer {
  height: 50px;
}

.footer p {
  font-size: 16px;
  padding-top: 20px;
  text-align: center;
}




/**********************  Media Queries ********************************/

@media screen and (max-width: 768px) {
.home-block ul {
  font-size: 24px;
  padding: 0;
}

.home-block img {
  height: auto;
  padding: 0;
  width: 100%;
}

.home-top {
  height: 400px;
}

.home-top h1 {
  color: #FFF;
  font-size: 48px;
  padding-top: 15%;
}

.home-top h2 {
  color: #FFF;
  font-size: 32px;
  padding: 0 20px;
}

}